 .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gold;
    color: white;
    padding: 8px 30px;
    position: relative;
    border-bottom: 2px solid #fff;
}
.ham {
    display: none;
}
.logo h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #050546;
    padding-left: 12px;
}
.logo h1:hover {
    cursor: pointer;
    border-left: 4px solid #050546;
}
.showme {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    position: relative;
}
.showme a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    padding-bottom: 12px;
}
.showme a:hover {
    border-bottom: 2px solid #050546;
}
@media screen and (max-width: 816px) {
    .showme {
        display: none;
    }
    .show {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 55px;
        right: 0;
        height: 50vh;
        background: gold;
        width: 100%;
        justify-content: center;
        line-height: 3.2;
        transition: all 300ms ease;
    }
    .show a {
        display: block;
        color: #fff;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 600;
    }
    .ham {
        display: flex !important;
        font-size: 25px;
    }
    
}
