.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gold;
    color: white;
    padding: 8px 30px;
}
.logo h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #050546;
    padding-left: 12px;
}
.logo h1:hover {
    cursor: pointer;
    border-left: 4px solid #050546;
}
.links {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
}
.links a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    padding-bottom: 12px;
}
.links a:hover {
    border-bottom: 2px solid #050546;
}
