.container {
    background-color: gold;
    color: white;
    padding: 18px 40px;
}
.container h1 {
    text-align: center;
    padding: 20px 0;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    padding: 1rem;
    width: 390px;
    border-radius: 12px;
    line-height: 28px;
}
.card img{
    width: 60%;
    border-radius: 100%;
    margin: 10px 0;
}
