.container {
    background-color: gold;
    color: white;
    padding: 18px 40px;
}
.container h1 {
    text-align: center;
    padding: 20px 0;
}
.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    padding: 1rem;
    width: 390px;
    border-radius: 12px;
    line-height: 28px;
}
.card img {
    width: 60%;
    border-radius: 100%;
    margin: 10px 0;
}
.card button {
    background-color: gold;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid gold;
    padding: 18px 40px;
    border-radius: 12px;
    cursor: pointer;
}
.myCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
