.App {
  text-align: center;
}
.light {
  background-color: #fff;
  color: black;
}
.dark {
  background-color: black;
  color: white;
}
.green {
  background-color: green;
  color: yellow;
}
.red {
  background-color: red;
  color: white;
}
